{% extends 'base.html.twig' %}

{% block body %}
<p>About Us</p>
    <p>Cette page est pour tout ceux qui veulent lister les choses qu'ils veulent avec faire Najat.</p>
    <p>Discuter, faire du shopping ou des jeux de sociétés, rien n'est plus beau que du temps passé avec notre ancienne ministre.</p>
{% endblock %}

