{% extends 'base.html.twig' %}

{% block body %}
<h1 class="titre-home">Ceci est la page d'acceuil du fan-club de Najat Vallaud-Berlkacem</h1>
    <p>Cette page est pour tout ceux qui veulent lister les choses qu'ils veulent avec faire Najat.</p>
    
    <img class= "image-clignote"id="najat" src="{{ asset('image/529px-Belkacem_Toulouse_2012 - Copie.jpg') }}">
{% endblock %}