{% extends 'base.html.twig' %}

{% form_theme wish_form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    {{ parent() }} :: create Wish
{% endblock %}

{% block body %}
    <h2>Ajouter un souhait</h2>
    <div class="flex justify-content">
        {{ form(wish_form) }}
    </div>
{% endblock %}